html {
	height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
}

* {
	box-sizing: border-box;
	margin: auto;
	padding: auto;
	/*background-color: #00111C;*/
}
canvas {
	display: block;
	width: 100% !important;
	height: 100% !important;
}

h1{
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Creepster', cursive;
	color: rgb(241, 91, 91);
	font-size: 5rem;
}

.above {
	position: static;
	z-index: 2;
}
body{

	font-family: 'Noto Serif', serif;
	background-image: url('../Thylacine-ARG/images/bg.gif');
	background-size:cover;
	background-repeat: no-repeat;

}
p,a {
	color: white;
	font-family: 'Parisienne', cursive;
	font-size: 1.5em;
	text-align: center;
}

a {
	display: flex;
	justify-content: center;
}

header {
	position: fixed;
	z-index: 1;}

.landing-wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 2rem;

}
.image-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.img-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width:25%;
}

.hero {
	width:100%;
}

.horizontal {
	flex-direction: row;
	justify-content: center;
}

.mobile {
	width: 50px;
	height: 50px;
	display:none;
}

.footing {
	display: flex;
	flex-direction: column;
	padding:1em;
}

.image-container img {
	width: 100px;
	height: 100px;
	margin: 10px;
	object-fit: cover;
	cursor: pointer;
	transition: transform 0.1s ease-in-out;
}

.sep {
	z-index: 3;
	height: 38px;
	width: 100%;
	background-image: url('../Thylacine-ARG/images/sep1.png');
}

.image-container img:hover {
	transform: scale(1.1);
}

.dot-matrix {

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: 100vh;
	
}

#sketch-container{
	height: auto;
}
@media (max-height: 800px){
	.right{
		display: hidden;
	}
}
@media  (max-width : 600px) {
	html{
		overflow-y: scroll;
	}
	h1 {
		font-size: 3em;
	}

	p {
		font-size: 1rem;
	}
    .img-box{
		width:75%;
	}
	.landing-wrapper {
		flex-direction: column;
		padding: 1em;
	}
	.image-container { 
		flex-direction: row;
		
	}
	.image-container img{ 
		width: 15%;
		height: 15%;
	}

	.mobile {
	display: block;

}
}


.dot {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: white;
  }
  
  .dot:hover {
	animation: pulse 1s ease-in-out infinite alternate;
  }
  
  @keyframes pulse {
	from {
	  transform: scale(1);
	  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.8);
	}
	to {
	  transform: scale(1.5);
	  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
	}
  }

