* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	/*background-color: #00111C;*/
}

h1{

	font-family: 'Creepster', cursive;
	color: rgb(241, 91, 91);
	font-size: 5rem;
}
body{
	font-family: 'Noto Serif', serif;
}

.landing-wrapper{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem;

}
.image-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.image-container img {
	width: 300px;
	height: 200px;
	margin: 10px;
	object-fit: cover;
	cursor: pointer;
	transition: transform 0.3s ease-in-out;
}

.image-container img:hover {
	transform: scale(1.1);
}

.dot-matrix {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: black;
}

.dot {
	width: 1px;
	height: 1px;
	border-radius: 50%;
	background-color: white;
	animation: pulse 1s ease-in-out infinite alternate;
	margin: 5px;
}


.dot:hover {
	animation: pulse 1s ease-in-out infinite alternate;
  }
  
  @keyframes pulse {
	from {
	  transform: scale(1);
	  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.8);
	}
	to {
	  transform: scale(1.5);
	  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
	}
  }