* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	/*background-color: #00111C;*/
}
canvas {
	display: block;
}

h1{
	font-family: 'Creepster', cursive;
	color: rgb(241, 91, 91);
	font-size: 5rem;
}
body{
	font-family: 'Noto Serif', serif;
	/*background-image: url('../Thylacine-ARG/images/bg.gif');*/
	background-size: cover;

}
p,a {
	color: white;
	font-family: 'Parisienne', cursive;
	font-size: 1.5em;
	text-align: center;
}

.landing-wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 2rem;

}
.image-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.img-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width:25%;
}

.hero {
	width:100%;
}

.horizontal {
	flex-direction: row;
	justify-content: center;
}

.image-container img {
	width: 100px;
	height: 100px;
	margin: 10px;
	object-fit: cover;
	cursor: pointer;
	transition: transform 0.3s ease-in-out;
}

.sep {
	height: 38px;
	width: 100%;
	background-image: url('../Thylacine-ARG/images/sep1.png');
}

.image-container img:hover {
	transform: scale(1.1);
}

.dot-matrix {

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: 100vh;
	
}

#sketch-container{
	height: 10px;
}



.dot {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: white;
  }
  
  .dot:hover {
	animation: pulse 1s ease-in-out infinite alternate;
  }
  
  @keyframes pulse {
	from {
	  transform: scale(1);
	  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.8);
	}
	to {
	  transform: scale(1.5);
	  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
	}
  }